* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 15px;
    background-color: #dedede;
}

h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 32px;
}

h2 {
    font-family: Arial, sans-serif;
    text-align: center;
}

a {
    color: #000000;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

p,
li {
    font-family: Arial, sans-serif;
    font-size: 20px;
}

main {
    text-align: center;
}

main ul {
    text-align: left;
}

/* Mobile view: one div per row */
main > div {
    display: block;
    width: 90vw;
    margin: 15px auto;
    padding: 5px;
    vertical-align: top;
}

main > div img {
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
}

.label {
    text-align: center;
}

/* Tablet view: two divs per row */
@media screen and (min-width: 772px) {
    main > div {
        display: inline-block;
        width: 45vw;
        margin: 5px;
    }

    main > div img {
        width: auto;
        max-width: 100%;
        max-height: 30vh;
    }
}

/* Large screen view: three divs per row */
@media screen and (min-width: 998px) {
    main > div {
        width: 30vw;
    }
}

footer {
    margin-top: 25px;
    text-align: center;
}
